body {
  overflow-x: hidden;
}
.labels {
  font-size: 20px;
  font: 800;
  font-family: Helvetica, sans-serif;
}

::selection {
  background: yellow;
  color: #fff;
}

ul li {
  list-style: none;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
